@CHARSET "ISO-8859-1";

.btn {
	position: relative;
	display: inline-block;
	padding: 5px 10px;
	font-size: 13px;
	font-weight: bold;
	line-height: 18px;
	color: #333;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
	background-color: #ccc;
	background-repeat: no-repeat;
	border: 1px solid #ccc;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	box-shadow: 0 1px 0 rgba(255, 255, 255, .5)
}

.ie9 .btn {
	border-radius: 0
}

.no-shadow {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.btn.no-shadow:active {
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1)
}

button.btn::-moz-focus-inner,input[type=submit].btn::-moz-focus-inner {
	padding: 0;
	border: 0
}

.btn {
	background-color: #ddd;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#fff),
		to(#ddd) );
	background-image: -moz-linear-gradient(#fff, #ddd);
	background-image: -ms-linear-gradient(#fff, #ddd);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff),
		color-stop(100%, #ddd) );
	background-image: -webkit-linear-gradient(#fff, #ddd);
	background-image: -o-linear-gradient(#fff, #ddd);
	background-image: linear-gradient(#fff, #ddd);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',
		endColorstr='#dddddd' )
}

.btn:hover,.photo-selector:not (.disabled ):hover .btn,.follow-combo.open .btn-user-actions,.user-dropdown.open
	{
	text-decoration: none;
	background-color: #d8d8d8;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#f8f8f8),
		to(#d8d8d8) );
	background-image: -moz-linear-gradient(#f8f8f8, #d8d8d8);
	background-image: -ms-linear-gradient(#f8f8f8, #d8d8d8);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f8f8f8),
		color-stop(100%, #d8d8d8) );
	background-image: -webkit-linear-gradient(#f8f8f8, #d8d8d8);
	background-image: -o-linear-gradient(#f8f8f8, #d8d8d8);
	background-image: linear-gradient(#f8f8f8, #d8d8d8);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false );
	border-color: #bbb
}

.btn.active,.btn:active,.follow-combo.open .btn-user-actions,.user-dropdown.open,.btn.open,.open>.btn
	{
	border-color: #bbb;
	background-image: none;
	-webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0
		rgba(255, 255, 255, .5);
	-moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0
		rgba(255, 255, 255, .5);
	box-shadow: inset 0 2px 4px rgba(0, 0, 0, .1), 0 1px 0
		rgba(255, 255, 255, .5)
}

.btn.disabled,.btn.disabled:hover,.btn[disabled],.btn[aria-disabled=true],.primary-btn.btn.disabled,.primary-btn.btn.disabled:hover,.primary-btn.btn[disabled]
	{
	color: #777;
	text-shadow: 0 1px 1px rgba(255, 255, 255, .75);
	cursor: default;
	background-color: #ddd;
	background-image: none;
	border-color: #ccc;
	filter: alpha(opacity = 65);
	-moz-opacity: .65;
	opacity: .65
}

.btn:focus {
	text-decoration: none
}

a.btn:focus {
	outline: dotted 1px #000;
	outline: auto 5px -webkit-focus-ring-color
}

.btn.large {
	font-size: 16px;
	line-height: 28px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px
}

.btn.small {
	padding-right: 9px;
	padding-left: 9px;
	font-size: 11px
}

.signup-btn {
	background-color: #fd9a0f;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #fee94f 0, #fd9a0f 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fee94f),
		color-stop(100%, #fd9a0f) );
	background-image: -webkit-linear-gradient(top, #fee94f 0, #fd9a0f 100%);
	background-image: -ms-linear-gradient(top, #fee94f 0, #fd9a0f 100%);
	background-image: -o-linear-gradient(top, #fee94f 0, #fd9a0f 100%);
	background-image: linear-gradient(top, #fee94f 0, #fd9a0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fee94f',
		endColorstr='#fd9a0f', GradientType=0 );
	border-color: #fa2
}

.signup-btn:hover,.signup-btn:focus {
	color: #333;
	background-color: #fd9512;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #fedc4d 0, #fd9512 100%);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fedc4d),
		color-stop(100%, #fd9512) );
	background-image: -webkit-linear-gradient(top, #fedc4d 0, #fd9512 100%);
	background-image: -ms-linear-gradient(top, #fedc4d 0, #fd9512 100%);
	background-image: -o-linear-gradient(top, #fedc4d 0, #fd9512 100%);
	background-image: linear-gradient(top, #fedc4d 0, #fd9512 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fedc4d',
		endColorstr='#fd9512', GradientType=0 );
	border-color: #ec8b11
}

.signup-btn:active {
	background-image: none;
	border-color: #ec8b11
}

.primary-btn,.following.first-hover .follow-btn:hover,.following .follow-btn,.following .follow-button.cancel-hover-style:hover,.following .follow-button
	{
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .25);
	background-color: #019ad2;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#33bcef),
		to(#019ad2) );
	background-image: -moz-linear-gradient(#33bcef, #019ad2);
	background-image: -ms-linear-gradient(#33bcef, #019ad2);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #33bcef),
		color-stop(100%, #019ad2) );
	background-image: -webkit-linear-gradient(#33bcef, #019ad2);
	background-image: -o-linear-gradient(#33bcef, #019ad2);
	background-image: linear-gradient(#33bcef, #019ad2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bcef',
		endColorstr='#019ad2', GradientType=0 );
	border-color: #057ed0;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

.primary-btn:hover,.primary-btn:focus {
	color: #fff;
	background-color: #0271bf;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#2daddc),
		to(#0271bf) );
	background-image: -moz-linear-gradient(#2daddc, #0271bf);
	background-image: -ms-linear-gradient(#2daddc, #0271bf);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2daddc),
		color-stop(100%, #0271bf) );
	background-image: -webkit-linear-gradient(#2daddc, #0271bf);
	background-image: -o-linear-gradient(#2daddc, #0271bf);
	background-image: linear-gradient(#2daddc, #0271bf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2daddc',
		endColorstr='#0271bf', GradientType=0 );
	border-color: #096eb3
}

.primary-btn:active {
	background-image: none;
	border-color: #096eb3
}

.caution-btn,.caution-btn:hover,.following .follow-btn:hover,.following .follow-button:hover
	{
	background-color: #c43c35;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b),
		to(#c43c35) );
	background-image: -moz-linear-gradient(#ee5f5b, #c43c35);
	background-image: -ms-linear-gradient(#ee5f5b, #c43c35);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b),
		color-stop(100%, #c43c35) );
	background-image: -webkit-linear-gradient(#ee5f5b, #c43c35);
	background-image: -o-linear-gradient(#ee5f5b, #c43c35);
	background-image: linear-gradient(#ee5f5b, #c43c35);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b',
		endColorstr='#c43c35', GradientType=0 );
	border-color: #a93730;
	border-bottom-color: #952f2a
}

.caution-btn,.caution-btn:focus {
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .2)
}

.caution-btn:active,.following:hover .follow-btn:active,.following:hover .follow-button:active
	{
	background-image: none;
	border-color: #952f2a
}

.fb-btn {
	color: #fff;
	background-color: #3c5d96;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#6079ab),
		to(#3c5d96) );
	background-image: -moz-linear-gradient(#6079ab, #3c5d96);
	background-image: -ms-linear-gradient(#6079ab, #3c5d96);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6079ab),
		color-stop(100%, #3c5d96) );
	background-image: -webkit-linear-gradient(#6079ab, #3c5d96);
	background-image: -o-linear-gradient(#6079ab, #3c5d96);
	background-image: linear-gradient(#6079ab, #3c5d96);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6079ab',
		endColorstr='#3c5d96', GradientType=0 );
	border-color: #3c5a98;
	border-bottom-color: #273b64;
	text-align: left;
	text-shadow: 0 -1px 1px rgba(0, 0, 0, .5);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1)
}

.fb-btn:hover,.fb-btn:focus {
	background-color: #345285;
	background-repeat: repeat-x;
	background-image: -khtml-gradient(linear, left top, left bottom, from(#5e76a9),
		to(#344d7e) );
	background-image: -moz-linear-gradient(#5e76a9, #344d7e);
	background-image: -ms-linear-gradient(#5e76a9, #344d7e);
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5e76a9),
		color-stop(100%, #344d7e) );
	background-image: -webkit-linear-gradient(#5e76a9, #344d7e);
	background-image: -o-linear-gradient(#5e76a9, #344d7e);
	background-image: linear-gradient(#5e76a9, #344d7e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e76a9',
		endColorstr='#344d7e', GradientType=0 );
	border-color: #3c5a98;
	border-bottom-color: #273b64
}

.btn-group {
	position: relative
}

.action-text {
	min-width: 68px;
	padding: 5px 7px;
	padding-top: 4px\9;
	padding-bottom: 4px\9
}

.follow-btn {
	padding: 0;
	margin-right: 3px\9
}

.btn-user-actions,.user-dropdown,.btn-search-actions {
	padding-left: 7px;
	padding-right: 7px
}

.follow-btn .action-text {
	display: none
}

.not-following .follow-btn .follow-text,.following .follow-btn .following-text,.following .follow-btn:hover .unfollow-text,.following.first-hover .follow-btn:hover .following-text,.blocked .follow-btn .block-text,.blocked .follow-btn:hover .unblock-text,.follow-request-sent .follow-btn .pending-text,.follow-request-sent .follow-btn:hover .cancel-req-text
	{
	display: block
}

.not-following.follow-request-sent .follow-btn .follow-text,.following .follow-btn:hover .following-text,.following.first-hover .follow-btn:hover .unfollow-text,.blocked .follow-btn:hover .block-text,.follow-request-sent .follow-btn:hover .pending-text
	{
	display: none
}

.following .follow-btn,.blocked .follow-btn,.follow-request-sent .follow-btn
	{
	text-align: center
}

.small-follow-all-wrapper .action-text,.small-follow-all-wrapper .btn-user-actions
	{
	padding: 3px 4px
}

.small-follow-all-wrapper .follow-btn .follow {
	margin-top: 2px;
	margin-left: 2px
}

.follow-btn.small .follow {
	margin-top: 1px;
	margin-right: 4px
}

.follow-combo .btn-group-dropdown .is-not-blocked,.follow-combo.following .btn-group-dropdown .is-following,.follow-combo.following .btn-group-dropdown .is-not-including,.follow-combo.following .btn-group-dropdown .is-not-notifying,.follow-combo.including .btn-group-dropdown .is-including,.follow-combo.notifying .btn-group-dropdown .is-notifying,.follow-combo.dismissable .btn-group-dropdown .is-dismissable,.follow-combo .btn-group-dropdown .is-not-blocked.dropdown-divider,.follow-combo.following .btn-group-dropdown .is-following.dropdown-divider,.follow-combo.blocked .is-blocked,.follow-combo.can-dm .can-send-dm
	{
	display: block
}

.follow-combo .btn-group-dropdown li a,.follow-combo .btn-group-dropdown .dropdown-divider,.follow-combo.including .btn-group-dropdown .is-not-including,.follow-combo.notifying .btn-group-dropdown .is-not-notifying,.follow-combo.blocked .btn-group-dropdown .is-not-blocked,.follow-combo .can-send-dm
	{
	display: none
}

.btn-group-dropdown a s,.user-dropdown .pretty-link s,.user-dropdown .pretty-link:hover s
	{
	color: #777
}

.btn-group .dropdown-menu {
	right: -1px;
	border-width: 1px
}

.mini-profile-footer .btn-group .dropdown-menu {
	right: auto;
	left: -1px
}

.btn-group.open .btn-group-dropdown {
	display: block
}

.btn-group .small .dropdown-menu {
	top: 28px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px
}

.user-actions {
	position: relative
}

.stream-item .follow-bar {
	float: right
}

.follow-button .button-text {
	min-width: 70px;
	padding: 5px 7px;
	display: none;
	text-align: left
}

.follow-button {
	padding: 0;
	margin-right: 3px\9
}

.following .follow-button .button-text,.blocked .follow-button .button-text,.pending .follow-button .button-text
	{
	text-align: center
}

.not-following .follow-button .follow-text,.following .follow-button .following-text,.following .follow-button:hover .unfollow-text,.following .follow-button.cancel-hover-style:hover .following-text,.blocked .follow-button .blocked-text,.blocked .follow-button:hover .unblock-text,.pending .follow-button .pending-text,.pending .follow-button:hover .cancel-text,.pending .follow-button.cancel-hover-style:hover .pending-text
	{
	display: block
}

.pending .follow-button .follow-text,.following .follow-button:hover .following-text,.following .follow-button.cancel-hover-style:hover .unfollow-text,.blocked .follow-button:hover .blocked-text,.pending .follow-button:hover .pending-text,.pending .follow-button.cancel-hover-style:hover .cancel-text
	{
	display: none
}

.user-actions .user-dropdown .dropdown-caret,.user-actions .user-dropdown .mention-text,.user-actions .user-dropdown .list-text,.user-actions .user-dropdown .block-text,.user-actions .user-dropdown .report-spam-text,.user-actions .user-dropdown .not-blocked,.user-actions .user-dropdown .not-blocked,.user-actions .user-dropdown .is-embeddable,.user-actions .user-dropdown .embed-profile,.following .user-dropdown .retweet-on-text,.following .user-dropdown .device-notifications-on-text,.following .user-dropdown .is-following,.including .user-dropdown .retweet-off-text,.notifying .user-dropdown .device-notifications-off-text,.dismissable .user-dropdown .hide-suggestion-text,.blocked .user-dropdown .unblock-text,.can-dm .user-dropdown .dm-text
	{
	display: block
}

.user-actions .user-dropdown li,.blocked .user-dropdown .not-blocked,.including .user-dropdown .retweet-on-text,.notifying .user-dropdown .device-notifications-on-text,.blocked .user-dropdown .mention-text,.blocked .user-dropdown .list-text,.blocked .user-dropdown .block-text,.blocked .user-dropdown .report-spam-text,.protected .user-dropdown .is-embeddable,.protected .user-dropdown .embed-profile
	{
	display: none
}

.user-actions .dropdown-menu {
	right: -1px;
	border-width: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px
}

.user-actions .dropdown-menu span {
	font-size: 12px
}

.mini-profile-footer .user-actions .dropdown-menu {
	right: auto;
	left: 0
}

.user-actions .open .dropdown-menu {
	display: block
}

.friend-actions .active-btn-text {
	display: block
}

.friend-actions .pending-btn-text {
	display: none
}

.friend-actions .pending .active-btn-text {
	display: none
}

.friend-actions .pending .pending-btn-text {
	display: block
}

.search-header .search-btn {
	top: 1px\9
}

.subscribe-btn>div {
	display: none
}

.subscribe-btn.not-subscribed .subscribe-text,.subscribe-btn.subscribed .remove-text
	{
	display: block
}

.module.tweet-to-user {
	background-color: transparent
}

.tweet-btn {
	display: block;
	text-align: center
}

.large-tweet-btn {
	padding: 7px 10px;
	border: 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.tweet-btn .tweet-new {
	margin: 0 6px -2px 0
}

.btn-link {
	padding: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.btn-link:hover,.btn-link:focus {
	outline: 0;
	text-decoration: underline;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none
}

.user-actions .follow-link .link-text {
	display: none
}

.user-actions.not-following .follow-link .follow-text {
	display: inline
}

.user-actions.following .follow-link .unfollow-text {
	display: inline
}

.user-actions.pending .follow-link .cancel-text {
	display: inline
}

body {
	padding: 0;
	margin: 0;
	font-size: 14px;
	line-height: 18px;
	color: #333;
	background-color: #fff
}

body,label,input,textarea,select,button {
	font-family: "Helvetica Neue", Arial, sans-serif
}

body.ms-windows,body.ms-windows label,body.ms-windows input,body.ms-windows textarea,body.ms-windows select,body.ms-windows button
	{
	font-family: Arial, sans-serif
}

body.ar,body.ur,body.fa,body.ar label,body.ar input,body.ar textarea,body.ar select,body.ar button,body.fa label,body.fa input,body.fa textarea,body.fa select,body.fa button,body.ur label,body.ur input,body.ur textarea,body.ur select,body.ur button
	{
	font-family: Tahoma, Arial, sans-serif
}

body.ja,body.ja label,body.ja input,body.ja textarea,body.ja select,body.ja button,body.ja .bio
	{
	font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic Pro", Meiryo,
		"MS PGothic", sans-serif;
	font-style: normal
}

a {
	color: #0084b4;
	text-decoration: none
}

a:focus {
	outline: 0
}

a:hover,a:focus {
	text-decoration: underline
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	color: #333;
	text-rendering: optimizeLegibility
}

h1 {
	font-size: 24px;
	font-weight: bold;
	line-height: 1
}

h2 {
	font-size: 18px;
	font-weight: bold;
	line-height: 20px
}

h2 small {
	font-size: 12px;
	font-weight: normal;
	color: #999
}

h3 {
	font-size: 14px;
	font-weight: normal;
	line-height: 1
}

h4 {
	font-size: 12px;
	line-height: 18px
}

h5,h6 {
	font-size: 10px
}

p {
	margin: 0
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,th {
	padding: 0
}

small {
	font-size: 12px
}

.muted {
	color: #999
}

.important {
	color: #c00c0c
}

.lead {
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 200;
	color: #999
}

.fine-print {
	font-size: 11px;
	line-height: 15px;
	color: #999
}

.hidden {
	display: none
}

.visuallyhidden {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px
}

ul,ol {
	padding: 0;
	margin: 0
}

ul {
	list-style: none
}

ol {
	margin-left: 20px;
	list-style: decimal
}

ol>li {
	line-height: 20px
}

.inline-list {
	margin-left: 0
}

.inline-list li {
	display: inline
}

button {
	margin: 0
}

img {
	border: 0
}

.clearfix:before,.clearfix:after,.control-group:before,.control-group:after,.stream-item>div:before,.stream-item>div:after,.module:after,.module:before,.follow-card header:after,.follow-card header:before,.follow-bar:after,.follow-bar:before,.search-header:after,.search-header:before,.tweet-form:after,.tweet-form:before,.modal-footer:after,.modal-footer:before,.local-trends-breadcrumb:after,.local-trends-breadcrumb:before,.input-prepend .add-on,.input-append .add-on,.wrapper:after,.wrapper:before,.expanded-content:before,.expanded-content:after,.stream-item:before,.stream-item:after
	{
	content: " ";
	display: table
}

.clearfix:after,.control-group:after,.stream-item>div:after,.module:after,.follow-card header:after,.follow-bar:after,.search-header:after,.tweet-form:after,.modal-footer:after,.local-trends-breadcrumb:after,.wrapper:after,.expanded-content:after,.stream-item:after
	{
	clear: both
}

hr {
	height: 0;
	padding: 0;
	margin: 14px 0 0;
	border: 0;
	border-top: 1px solid #eee
}

.unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none
}

.ellipsify-container {
	position: relative;
	overflow: hidden
}

.ellipsify-container .ellip-content {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap
}

.ellipsify-container .ellip {
	position: absolute;
	top: 0;
	right: 0
}

.global-nav,.global-nav .well,.nav .active>a,.btn-tweet,.btn-tweet:hover,.btn-tweet:active,.nav .active>a,.card-soccer .cover
	{
	background-image: url(../img/twitter_web_sprite_bgs.png);
	background-repeat: repeat-x
}

.global-nav {
	background-position: 0 0;
	background-color: #252525
}

.nav .active>a {
	background-position: 0 -50px
}

.global-nav .well {
	background-position: 0 -100px
}

.btn-tweet {
	background-position: 0 -140px;
	background-color: #2c77ba;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false )
}

.btn-tweet:hover,.btn-tweet:focus {
	background-position: 0 -170px
}

.btn-tweet:active {
	background-position: 0 -200px
}

i,.icon {
	display: inline-block;
	vertical-align: text-top;
	background-image: url(../img/twitter_web_sprite_icons.png);
	background-position: 0 0;
	background-repeat: no-repeat
}

.bird-etched {
	width: 34px;
	height: 26px
}

.bird-topbar-etched,.bird-topbar-blue,.bird-topbar-white {
	width: 24px;
	height: 21px
}

.bird-topbar-etched {
	background-position: -40px 0
}

.bird-topbar-blue {
	background-position: -80px 0
}

.bird-corpbar,.bird-topbar-phx {
	float: left;
	padding: 7px 20px 9px
}

.bird-corpbar:hover,.bird-topbar-phx:hover {
	background-color: rgba(255, 255, 255, .1)
}

.bird-topbar-white {
	background-position: -120px 0
}

.nav-home,.nav-topics,.nav-people,.nav-me,.nav-tweet {
	height: 22px
}

.nav-home {
	background-position: 0 -50px;
	width: 21px
}

.nav-topics {
	background-position: -40px -50px;
	width: 17px
}

.nav-people {
	background-position: -80px -50px;
	width: 21px
}

.nav-me {
	background-position: -120px -50px;
	width: 21px
}

.nav-session {
	background-position: -160px -50px;
	width: 20px;
	height: 21px
}

.nav-tweet {
	background-position: -200px -50px;
	width: 22px;
	height: 18px
}

.topbar-divider {
	background-position: -240px -50px;
	width: 2px;
	height: 32px
}

.nav-breaker {
	background-position: -260px -50px;
	width: 18px;
	height: 19px
}

.nav-new {
	background-position: -200px -80px;
	width: 24px;
	height: 3px
}

.global-nav a:hover .nav-home,.global-nav a:focus .nav-home {
	background-position: 0 -80px
}

.global-nav a:hover .nav-topics,.global-nav a:focus .nav-topics {
	background-position: -40px -8
}