<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vncreatures"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <supports-screens android:anyDensity="true" />
    <supports-screens android:smallScreens="true" />
    <supports-screens android:normalScreens="true" />
    <supports-screens android:largeScreens="true" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme" >
        <activity android:name=".controller.SplashScreen" >
        </activity>
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/title_activity_main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.AbstracActivity" >
        </activity>
        <activity android:name=".controller.CreatureActivity" >
        </activity>
        <activity android:name=".controller.ImageViewFlipperActivity" >
        </activity>
        <activity android:name=".controller.GroupChooseActivity" >
        </activity>
    </application>

</manifest>